@import './reset';
@import './variables';
@import './breakpoints';
@import '~material-components-web/material-components-web';

@include breakpoint(medium) {
  .root-container:not(.simple-view) .mdc-top-app-bar .sidebar-toggle {
    display: none;
  }
}

.mdc-top-app-bar label {
  margin-left: spacing(1);
}

aside button {
  width: calc(100% - #{spacing(1)});
  margin: 0 spacing(0.5) spacing(0.5);
}

.main-wrapper {
  @extend .mdc-top-app-bar--fixed-adjust;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;

  @include breakpoint(medium) {
    height: 100vh;
  }

  aside {
    display: none;

    @include breakpoint(medium) {
      display: block;
      flex: 0 0 20vw;
      overflow-x: hidden;
      overflow-y: auto;
      border-right: 1px solid rgba(0, 0, 0, 0.38);
    }
  }

  .no-tab-message {
    height: calc(100vh - 64px);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.38);
  }
}

main {
  flex: 1;
  display: grid;
  padding: spacing(1);
  min-height: 0;

  grid-template-columns: 1fr;
  grid-template-rows: auto 0 auto 0 auto;
  grid-template-areas: 'request' 'separator1' 'response' 'separator2' 'history';
  grid-gap: spacing(1);

  .simple-view & {
    padding-top: spacing(0.5);
    grid-template-rows: auto 0 auto;
    grid-template-areas: 'request' 'separator2' 'response';
  }

  @include breakpoint(small) {
    padding: spacing(2);
    .simple-view & {
      padding-top: spacing(1.2);
    }
  }

  @include breakpoint(medium) {
    @include mdc-elevation(4);

    margin: spacing(2);
    grid-template-columns: 1fr 0 1fr;
    grid-template-rows: 3fr 0 1fr;
    grid-template-areas: 'request separator1 response' 'separator2 separator2 separator2' 'history history history';

    .simple-view & {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0 1fr;
      grid-template-areas: 'request' 'separator2' 'response';
    }
  }

  @include breakpoint(large) {
    grid-gap: spacing(2);
  }

  &::before,
  &::after {
    content: '';
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.38);
  }
  &::before {
    grid-area: separator1;
    @include breakpoint(medium) {
      border-top: none;
      border-left: 1px solid rgba(0, 0, 0, 0.38);
    }

    .simple-view & {
      display: none;
    }
  }
  &::after {
    grid-area: separator2;
  }
}

.request {
  grid-area: request;
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas: 'title title' 'method url' 'headers headers' 'body body' '. send-button';
  grid-row-gap: spacing(1);
  grid-column-gap: spacing(0.5);

  .simple-view & {
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 'title history-buttons' 'method url' 'body body' '. send-button';

    h2 {
      align-self: center;
    }

    .history-buttons {
      grid-area: history-buttons;
      justify-self: flex-end;

      button:first-child {
        margin-right: spacing(0.5);
      }
    }

    .request-headers {
      display: none;
    }
  }

  h2 {
    grid-area: title;
  }

  .mdc-select {
    grid-area: method;

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  .request-url {
    grid-area: url;
  }

  .request-headers {
    grid-area: headers;

    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-gap: spacing(0.5);

    @include breakpoint(medium) {
      max-height: 23vh;
      overflow-y: auto;
    }

    h3 {
      grid-column: 1 / -1;
    }

    .mdc-icon-button {
      align-self: center;
    }
  }

  .request-body {
    grid-area: body;
    margin-top: spacing(1);
    display: flex;
  }

  .mdc-button {
    grid-area: send-button;
    justify-self: end;
  }
}

.response {
  grid-area: response;
  overflow: auto;

  .message {
    @extend .mdc-typography--body1;
    margin-top: spacing(0.5);
  }

  .response__status {
    @extend .mdc-typography--subtitle2;
    margin-top: spacing(0.5);
    margin-bottom: spacing(1);
  }

  .response__body {
    @extend .mdc-typography--body1;
    margin-top: spacing(1);
    font-family: Courier, monospace;
    white-space: pre-wrap;
  }

  .header-list {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: spacing(0.5);

    .header-list__header-name {
      @extend .mdc-typography--body1;
      grid-column: 1;
      font-weight: bold;
    }

    .header-list__header-value {
      @extend .mdc-typography--body1;
      grid-column: 2;
    }

    .simple-view & {
      display: none;
    }
  }
}

.history {
  grid-area: history;
  min-height: 0;
  overflow: auto;
}
